<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} traceId=%X{trace_id} spanId=%X{span_id} - %msg%n"/>
        </Console>
        <OpenTelemetry name="OTelAppender" />
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OTelAppender" />
        </Root>
    </Loggers>
</Configuration>
