apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b-deployment
  labels:
    app: service-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
        containers:
          - name: service-b
            image: service-b:1.0
            imagePullPolicy: IfNotPresent
            env:
              - name: OTEL_EXPORTER_OTLP_ENDPOINT
                value: "https://uze28355.live.dynatrace.com/api/v2/otlp"
              - name: OTEL_EXPORTER_OTLP_HEADERS
                value: "none"
              - name: OTEL_TRACES_EXPORTER
                value: "otlp"
              - name: OTEL_LOGS_EXPORTER
                value: "otlp"
              - name: OTEL_METRICS_EXPORTER
                value: "none"   # THIS IS IMPORTANT
              - name: OTEL_SERVICE_NAME
                value: "service-b"
            command:
                - "java"
                - "-javaagent:/otel/opentelemetry-javaagent.jar"
                - "-jar"
                - "/app.jar"
            ports:
              - containerPort: 8081

---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  type: ClusterIP
  selector:
    app: service-b
  ports:
    - port: 8081
      targetPort: 8081
